<main>
  <div class="container">
    <span class="icon-minus_circle text-warning"></span>
    <h2 class="thanks">Åtkomst nekad</h2>
    <p class="thanks_sub">
      Något gick fel och du har loggats ut
    </p>
    <p class="btn btn_start">
      <a asp-controller="Account" asp-action="Login">Logga in</a>
    </p>
  </div>
</main>