@model List<Logger>

<nav>
  <p>
    <a asp-controller="Account" asp-action="Login">Login</a> / <strong>Loggfil</strong>
    <a asp-controller="Account" asp-action="Logout" class="right">Logga ut</a>
  </p>
</nav>

<main>
  <h2>Loggfiler</h2>

  <table>
    <tr>
      <th>Datum</th>
      <th>AnställningsID</th>
      <th>IP-adress</th>
      <th>Händelse</th>
    </tr>
    
   
    @foreach (Logger log in Model)


    {
      <tr>
        <td>@log.Time</td>
        <td>@log.EmployeeId</td>
        <td>@log.Ip</td>
        <td>@log.Action</td>
      </tr>
    }


  </table>
</main>
