<main class="start">
  <div class="container">
    <p class="sub-title">Effektiva mediciner, nya mediciner varje dag</p>
    <h2 class="h_start">Välkommen till PillMedTech</h2>
    <p class="btn btn_start">
      <a asp-controller="Account" asp-action="Login">Logga in</a>
    </p>
  </div>
</main>